<div class="<%= active %>">
    <div class="<%= carouselclass %>"></div>
    <div class="carousel-caption">
        <div class="card lfti card-transparent"><img class="rounded mb-4" width="666px" height="376px" alt=""
                style="width: 38rem; height: 20rem;" src="<%= carouselimg1 %>" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 ani dsp hero-text-container">
                    <h1 class="text-warning hero-text">GOOD</h1>
                    <h1 class="text-dark hero-text"><%= item %></h1>
                    <h1 class="hero-text">CHANGES</h1>
                    <h1 class="hero-text">YOUR</h1>
                    <h1 class="text-warning hero-text">MOOD</h1>

                    <img src="/carousel/divider.png" class="w-50" alt="" style="width:11rem; height:2rem;">
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-3">
                    <div class="card rght yymg" style="background-color: rgb(45, 45, 45);">
                        <div class="card-body card-padding">
                            <h4 class="card-title text-left text-medium"><%= carouseltitle %></h4>
                            <p class="card-text text-left text-small"><%= carouseldesc %></p>
                            <div class="d-inline cardfooter text-muted text-small"><button type="button"
                                    class="btn btn-danger"><%= carouselbtn %></button></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 rght dsp">
                    <div class="col-13"><img src="<%= carouselimg2 %>" class="rounded" width="380px" height="260px"
                            alt="" style="width: 23.75rem; height: 16.25rem;"></div>
                </div>
            </div>
        </div>
    </div>
</div>