<%- include('components/header') %>

<body data-spy="scroll" onload="startTime()" class="animate-bottom text-base">

  <%- include('components/navbar') %>

  <header id="home">
    <div class="col-md-13 mx-auto ">
      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#slider" data-slide-to="0" class="active"></li>
          <li data-target="#slider" data-slide-to="1"></li>
          <li data-target="#slider" data-slide-to="2"></li>
          <li data-target="#slider" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
          <%- include('components/carousel', { active:"carousel-item active", carouselclass: "carousel1", carouselimg1: "/carousel/burger.png" , carouselimg2: "/carousel/burger2.jpg" , item: "BURGER", carouseltitle: "Dana Bacon Burger", carouseldesc: "150 gr. burger köftesi, cheddar peyniri, dana bacon, domates, karamelize soğan, turşu, marul", carouselbtn: "Hamburgerler" }) %>
          <%- include('components/carousel', { active:"carousel-item", carouselclass: "carousel2", carouselimg1: "/carousel/pizza.jpg" , carouselimg2: "/carousel/piza.png" , item: "PIZZA", carouseltitle: "Çok Karışık (Orta)", carouseldesc: "Sezar Sos, Mozzarella Peyniri, Sucuk, Sosis, Jambon, Mantar, Mısır, Biber, Zeytin, Parmesan, Baharat Karışımı", carouselbtn: "Pizzalar" }) %>
          <%- include('components/carousel', { active:"carousel-item", carouselclass: "carousel3", carouselimg1: "/carousel/sandvic.jpg" , carouselimg2: "/carousel/hotdog.jpg" , item: "HOT DOG", carouseltitle: "Pastırmalı Hot Dog", carouseldesc: "75 gr. dana sosis, çemensiz pastırma, küp turşu, karamelize soğan, ev yapımı sos, hardal, patates", carouselbtn: "Sandviçler" }) %>
          <%- include('components/carousel', { active:"carousel-item", carouselclass: "carousel4", carouselimg1: "/carousel/steak.jpg" , carouselimg2: "/carousel/steak2.jpg" , item: "STEAK", carouseltitle: "Steak Mix", carouseldesc: "Lokum Steak, Antrikot, Kuzu Pirzola, Cheddar Köfte, Julyen Bonfile, Cheddar Sos, Garnitür ve patates eşliğinde", carouselbtn: "Etler" }) %>
        </div>
        <a class="carousel-control-prev dsp" href="#carouselExampleFade" role="button" data-slide="prev"
          style="top: 496px; bottom: 352px; width: 2%;left: 14rem;">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next dsp" href="#carouselExampleFade" role="button" data-slide="next"
          style="top: 496px; bottom: 352px; width: 2%; left: 34rem;">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </header>

  <!-- 2. Area -->

  <div class="row col-13" style="margin:auto;">
    <div class="col-md-4" style="padding-right: 0px;padding-left: 0px;">
      <div class="card"
        style="border-left-width: 0px;border-bottom-width: 0px;border-right-width: 0px;border-top-width: 0px;">
        <img src="/pages/aboutL.jpg" class="w-100">
        <div class="card-img-overlay d-flex flex-column"
          style="padding-left: 0px;padding-right: 0px;padding-bottom: 0px;">
          <h4 class="card-title text-light mt-auto text-large" style="text-align:center;">Atıştırmalık <br> Menü</h4>
          <a href="#" class="text-light text-large mt-auto mb-4" style="text-decoration: none;">
            <h5 style="text-align:center;">ATIŞTIRMALIKLAR</h5>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4" style="padding-right: 0px;padding-left: 0px;">
      <div class="card"
        style="border-left-width: 0px;border-bottom-width: 0px;border-right-width: 0px;border-top-width: 0px;">
        <img src="/pages/aboutC.jpg" class="w-100">
        <div class="card-img-overlay d-flex flex-column"
          style="padding-left: 0px;padding-right: 0px;padding-bottom: 0px;">
          <strong class="card-title text-light mt-auto text-large" style="text-align:center;">Yemezler</strong>
          <h4 class="card-title text-warning text-large" style="text-align:center;">GOOD <span class="text-danger">FOOD
              CHANGES YOUR</span> MOOD</h4>
          <a href="/about" class="text-light text-large mt-5 mb-4" style="text-decoration: none;">
            <h5 style="text-align:center;">HAKKIMIZDA</h5>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4" style="padding-right: 0px;padding-left: 0px;">
      <div class="card"
        style="border-left-width: 0px;border-bottom-width: 0px;border-right-width: 0px;border-top-width: 0px;">
        <img src="/pages/aboutR.jpg" class="w-100">
        <div class="card-img-overlay d-flex flex-column"
          style="padding-left: 0px;padding-right: 0px;padding-bottom: 0px;">
          <h4 class="card-title text-light text-large mt-auto" style="text-align:center;">Tatlılar <br> Menü</h4>
          <a href="#" class="text-light text-large mt-auto mb-4" style="text-decoration: none;">
            <h5 style="text-align:center;">TATLILAR</h5>
          </a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>

  <!-- 2. Area Finish -->

  <main>


    <div>
      <h2 class="text-heading">Bugün ne yemek istiyorsun?</h2>
      <br>
      <h2 class="text-subtitle">Makul sürede kapınızda</h2>
      <div align="center"><img src="/pages/line.png" alt=""></div>
    </div>
    <br>

    <div class="row col-13 container" style="margin:auto; background-image: url(secret.png);">
      <div class="col-sm-2">
        <div class="menuc faded1 tablinks" onclick="openCity(event, 'Burger')" id="defaultOpen"><img
            src="/menu/ico/burgeri.png" alt=""></div>
        <h5 class="menut menu-item1">Burger</h5>
        <span class="faker1 menus" style="opacity: 0; margin-left: 1rem;">14 Ürün</span>
      </div>
      <div class="col-sm-2">
        <div class="menuc faded2 mousePointer tablinks" onclick="openCity(event, 'Pizza')"><img src="/menu/ico/pizzai.png"
            alt=""></div>
        <h5 class="menut menu-item2">Pizza</h5>
        <span class="faker2 menus" style="opacity: 0; margin-left: 1rem;">12 Ürün</span>
      </div>
      <div class="col-sm-2">
        <div class="menuc faded3 mousePointer tablinks" onclick="openCity(event, 'Hotdog')"><img
            src="/menu/ico/sub-sssandwich.png" alt=""></div>
        <h5 class="menu-item3" style="color: rgb(153, 153, 153);margin-top: 0.5rem;">Sandviçler</h5>
        <span class="faker3 menus" style="opacity: 0; margin-left: 1rem;">10 Ürün</span>
      </div>
      <div class="col-sm-2">
        <div class="menuc faded4 mousePointer tablinks" onclick="openCity(event, 'Steak')"><img src="/menu/ico/isteak.png"
            alt=""></div>
        <h5 class="menut menu-item4" style="margin-top: 0.5rem;margin-left: 0.75rem;">Izgara Et</h5>
        <span class="faker4 menus" style="opacity: 0; margin-left: 1rem;">16 Ürün</span>
      </div>
      <div class="col-sm-2">
        <div class="menuc faded5 mousePointer tablinks" onclick="openCity(event, 'Cupcake')"><img
            src="/menu/ico/cupcakei.png" alt=""></div>
        <h5 class="menut menu-item5" style="margin-left: 1.75rem;">Tatlı</h5>
        <span class="faker5 menus" style="opacity: 0; margin-left: 1rem;">20 Ürün</span>
      </div>
      <div class="col-sm-2">
        <div class="menuc faded6 mousePointer tablinks" onclick="openCity(event, 'Patato')"><img src="/menu/ico/drinker.png"
            alt=""></div>
        <h5 class="menut menu-item6" style="margin-left: 0rem;">Atıştırmalık</h5>
        <span class="faker6 menus" style="opacity: 0; margin-left: 1rem;">28 Ürün</span>
      </div>
    </div>

    <p id="more"></p>

    <div class="col-12 mt-3" style="padding-left: 0px;padding-right: 0px;">
      <div class="menuba">
        <div id="Burger" class="tabcontent">
          <h2 class="text-heading text-dark pt-4 pb-3">Burgerler</h2>
          <div class="row col-13 container" style="margin:auto;">
            <%- include('components/menu', { title: "KLASİK BURGER" , price: "26" , description: "150gr Dana Eti, marul, domates, soğan, turşu ve kızarmış patates ile beraber", img: "/menu/img/Klasik-burger.jpg", rating: 3.5 }) %>
            <%- include('components/menu', { title: "LOKUM BURGER" , price: "43" , description: "270 gr. Dilimlenmiş dana bonfile, cheddar peyniri, jerky sos, karamelize soğan ve kızarmış patates" , img: "/menu/img/Lokum-burger.jpg", rating: 4 }) %>
          </div>
          <div class="row col-13 container" style="margin:auto;">
            <%- include('components/menu', { title: "GURME BURGER" , price: "29" , description: "150gr Dana Eti, karamelize soğan, kibrit patates, dana füme et, mantar, turşu, Dolliet sos, kıtır soğan", img: "/menu/img/Gurme-burger.jpg", rating: 4 }) %>
            <%- include('components/menu', { title: "BBQ BURGER" , price: "28" , description: "130 gr. Burger köftesi, halka dilim soğan, mayonez, BBQ sos, dana füme, göbek marul ve kızarmış patates" , img: "/menu/img/Bbq-burger.jpg", rating: 3 }) %>
          </div>
          <div class="row col-13 container" style="margin:auto;">
            <%- include('components/menu', { title: "CHEESEBURGER" , price: "25" , description: "150gr Dana Eti, cheddar peyniri, karamelize soğan, çıtır patates, Center peynir sos ve kızarmış patates ile beraber", img: "/menu/img/Cheeseburger.png", rating: 3 }) %>
            <%- include('components/menu', { title: "SUCUK BURGER" , price: "31" , description: "Burger ekmeği, 120 gr. kasap sucuğu, hellim peyniri, marul, domates, turşu, cheddar peyniri, baharatlı patates" , img: "/menu/img/Sucuk-burger.jpg", rating: 4 }) %>
          </div>
          <div class="row col-13 container" style="margin:auto;">
            <%- include('components/menu', { title: "SMOKEHOUSE BURGER" , price: "33" , description: "2 Kat 125gr Dana Eti, pastırma, cheddar peyniri, çıtır kaplamalı soğanlar, dana füme et, barbekü sos, sarımsaklı mayonez, kıtır soğan ve normal dilim patates ile beraber", img: "/menu/img/MexicanSmokehouse.png", rating: 4.5 }) %>
            <%- include('components/menu', { title: "ISLAK BURGER" , price: "7" , description: "50gr Dana Döş Eti, özel burger sosu" , img: "/menu/img/islakhamburger.jpg", rating: 2.5 }) %>
          </div>
          <div class="mt-5" style="text-align: center;"><button class="menubutton mb-5">Tümü</button></div>
        </div>
        <div id="Pizza" class="tabcontent">
          <h2 class="text-heading text-dark pt-4 pb-3">Pizzalar</h2>
          <div class="row col-13 container" style="margin:auto;">
            <%- include('components/menu', { title: "PIDE DE PIZZA (ORTA)" , price: "45" , description: "Özel Sezar Sos, Mozzarella Peyniri, Pastırma, Küp Sucuk, Yeşil Biber, Siyah Zeytin", img: "/menu/img/pidedepizza.png", rating: 2.5 }) %>
            <%- include('components/menu', { title: "TURKISH MIX (BÜYÜK)" , price: "68" , description: "Özel Sezar Sos, Mozzarella Peyniri, Pastırma, Küp Sucuk, Mantar, Yeşil Biber, Domates" , img: "/menu/img/turkish mix.jpg", rating: 3.5 }) %>
          </div>
          <div class="row col-13 container" style="margin:auto;">
            <%- include('components/menu', { title: "ETİBOL (ORTA)" , price: "52" , description: "Özel Sezar Sos, Mozzarella Peyniri, Jambon, Sosis, Küp Sucuk, Pastırma, Pepperoni, Soğan", img: "/menu/img/Etibol.png", rating: 4 }) %>
            <%- include('components/menu', { title: "SUPREME (KÜÇÜK)" , price: "28" , description: "Özel Sezar Sos, Mozzarella Peyniri, Küp Sucuk, Pepperoni, Mantar, Yeşil Biber, Soğan" , img: "/menu/img/supreme.png", rating: 3 }) %>
          </div>
          <div class="row col-13 container" style="margin:auto;">
            <%- include('components/menu', { title: "SanaBanaOna (ORTA)" , price: "44" , description: "Sezar Sos, Sucuk Küp, Sosis, Jambon, Mantar, Mısır, Yeşil Biber, Siyah Zeytin, Parmesan, Baharat Karışımı", img: "/menu/img/SBO-urun.png", rating: 3.5 }) %>
            <%- include('components/menu', { title: "ITALIANO (KÜÇÜK)" , price: "26" , description: "Özel Sezar Sos, Mozzarella Peyniri, Küp Sucuk, Beyaz Peynir, Közlenmiş Kırmızı Biber, Siyah Zeytin, Mantar" , img: "/menu/img/caesarsitalyano.png", rating: 4 }) %>
          </div>
          <div class="row col-13 container" style="margin:auto;">
            <%- include('components/menu', { title: "KAVURMALI (BÜYÜK)" , price: "70" , description: "Özel Cheddar Sos, Mozzarella Peyniri, Kavurma, Yeşil Biber, Közlenmiş Kırmızı Biber, Soğan", img: "/menu/img/kavurmalisezar.jpg", rating: 4.5 }) %>
            <%- include('components/menu', { title: "ITALIANO (KÜÇÜK)" , price: "29" , description: "Özel Sezar Sos, Mozzarella Peyniri, Beyaz Peynir, Mantar, Siyah Zeytin, Yeşil Biber, Domates, Kekik" , img: "/menu/img/akdeniz.jpg", rating: 2 }) %>
          </div>
          <div class="mt-5" style="text-align: center;"><button class="menubutton mb-5">Tümü</button></div>
        </div>
        <div id="Hotdog" class="tabcontent">
          <h2 class="text-heading text-dark pt-4 pb-3">Sandviçler</h2>
          <div class="row col-13 container" style="margin:auto;">
            <%- include('components/menu', { title: "BAHARATLI (30 CM)" , price: "25" , description: "Genova salamı, pepperoni, kaşar peyniri veya cheddar peyniri, seçeceğiniz baharat, sebzeler ve sos", img: "/menu/img/BaharatlıI.jpg", rating: 4 }) %>
            <%- include('components/menu', { title: "KLARSİ SOSİSLİ" , price: "22" , description: "Fümelendirilmiş kasap sosis, ketçap, mayonez, hardal, turşu, patates" , img: "/menu/img/hotdog.jpg", rating: 3 }) %>
          </div>
          <div class="row col-13 container" style="margin:auto;">
            <%- include('components/menu', { title: "ITALIAN B.M.T. (30 CM)" , price: "25" , description: "Pepperoni, Genova salamı, hindi but jambon, kaşar peyniri veya cheddar peyniri, baharat, sebzeler ve sos", img: "/menu/img/Bmt.jpg", rating: 4 }) %>
            <%- include('components/menu', { title: "DUBLE SOSİSLİ" , price: "31" , description: "140 gr. özel kara fırın ekmeğine; 110 gr. sosis, turşu, patates, sos, ketçap, mayonez" , img: "/menu/img/hottordog.jpg", rating: 4 }) %>
          </div>
          <div class="row col-13 container" style="margin:auto;">
            <%- include('components/menu', { title: "YUMURTA ROASTBEEF" , price: "27" , description: "Roastbeef, seçeceğiniz baharat, sebzeler, yumurtalar, peynir,turşu ve sos", img: "/menu/img/Yumurta.jpg", rating: 2 }) %>
            <%- include('components/menu', { title: "KARIŞIK KUMRU" , price: "34" , description: "100 gr. kasap sucuğu, 100 gr. kasap sosis, 200 gr. kaşar peyniri, salam, domates, turşu, patates kızartması" , img: "/menu/img/kumru-yeni.png", rating: 3.5 }) %>
          </div>
          <div class="row col-13 container" style="margin:auto;">
            <%- include('components/menu', { title: "KÖFTE TOST" , price: "23" , description: "Köfte, patates, kaşar peyniri veya cheddar peyniri, seçeceğiniz sebzeler, sos ve baharatlar", img: "/menu/img/Patates.jpeg", rating: 4.5 }) %>
            <%- include('components/menu', { title: "DÖNERLİ PATSO" , price: "20" , description: "200 gr. kasap döner, patates" , img: "/menu/img/Patso.jpg", rating: 4 }) %>
          </div>
          <div class="mt-5" style="text-align: center;"><button class="menubutton mb-5">Tümü</button></div>
        </div>
        <div id="Steak" class="tabcontent">
          <h2 class="text-heading text-dark pt-4 pb-3">Izgara Etler</h2>
          <div class="row col-13 container" style="margin:auto;">
            <%- include('components/menu', { title: "KARIŞIK BİFTEK" , price: "34" , description: "300 gr. biftek, karışık salata, meze, kızarmış ekmek, patates", img: "/menu/img/steakk.jpg", rating: 4.5 }) %>
            <%- include('components/menu', { title: "KUZU ŞİŞ" , price: "23" , description: "200gr. Kuzu şiş" , img: "/menu/img/Lampskewers.jpg", rating: 3.5 }) %>
          </div>
          <div class="row col-13 container" style="margin:auto;">
            <%- include('components/menu', { title: "SUCUK" , price: "22" , description: "200 gr. mangal sucuk, kızarmış ekmek, patates", img: "/menu/img/Sausage.jpg", rating: 4 }) %>
            <%- include('components/menu', { title: "TAVUK KANADI" , price: "40" , description: "400 gr. Tavuk kanadı, özel soslar" , img: "/menu/img/Chickenwing.jpeg", rating: 4 }) %>
          </div>
          <div class="row col-13 container" style="margin:auto;">
            <%- include('components/menu', { title: "PIRZOLA" , price: "25" , description: "180 Gr Pirzola. 3 Ad., Patates", img: "/menu/img/Lampchop.jpg", rating: 4 }) %>
            <%- include('components/menu', { title: "KÖFTE PATATES" , price: "28" , description: "200 gr. Köfte, patates, köz biber, köz domates, mevsim baharatları" , img: "/menu/img/Meatball.png", rating: 4 }) %>
          </div>
          <div class="row col-13 container" style="margin:auto;">
            <%- include('components/menu', { title: "KUZU ANTRİKOT" , price: "30" , description: "200 gr. antrikot, çeşitli sebzeler, özel soslar", img: "/menu/img/Ribeye.jpg", rating: 4.5 }) %>
            <%- include('components/menu', { title: "KARIŞIK KEBAP" , price: "66" , description: "250gr Kuzu şiş, 200gr tavuk şiş, 150gr domatesli kebap, 300gr urfa kebap, 4 Ad Fındık lahmacun, Fındık kaşar, pilav, köz domates, köz biber, patates" , img: "/menu/img/mixedkebab.jpg", rating: 5 }) %>
          </div>
          <div class="mt-5" style="text-align: center;"><button class="menubutton mb-5">Tümü</button></div>
        </div>
        <div id="Cupcake" class="tabcontent">
          <h2 class="text-heading text-dark pt-4 pb-3">Tatlılar</h2>
          <div class="row col-13 container" style="margin:auto;">
            <%- include('components/menu', { title: "BAKLAVA" , price: "27" , description: "250 Gr. Baklava, Toz şeker, içme suyu, buğday unu, sade, antep fıstık içi, buğday nişastası, yumurta", img: "/menu/img/Baklava.png", rating: 4 }) %>
            <%- include('components/menu', { title: "TİRAMİSU" , price: "40" , description: "500 gr. Kakao Ve Kahve ile süslenmiş tiramisu" , img: "/menu/img/Tiramisu.jpg", rating: 4 }) %>
          </div>
          <div class="row col-13 container" style="margin:auto;">
            <%- include('components/menu', { title: "GÜLLAÇ" , price: "32" , description: "400 gr. nar ile süslenmiş antep fıstıklı güllaç", img: "/menu/img/Güllaç.jpg", rating: 5 }) %>
            <%- include('components/menu', { title: "BİSKÜVİLİ PASTA" , price: "33" , description: "600 gr. Bisküvi katmanlı pasta" , img: "/menu/img/Biscuitcake.jpg", rating: 3.5 }) %>
          </div>
          <div class="row col-13 container" style="margin:auto;">
            <%- include('components/menu', { title: "BEYAZ MOZAİK PASTA" , price: "25" , description: "300gr. beyaz çikolata ile süslenmiş bitter çikolatalı mozaik pasta", img: "/menu/img/Mosaicake.jpg", rating: 4.5 }) %>
            <%- include('components/menu', { title: "SUFLE" , price: "18" , description: "1 Ad. Kap Dondurmalı Sufle" , img: "/menu/img/Sufle.jpg", rating: 4 }) %>
          </div>
          <div class="row col-13 container" style="margin:auto;">
            <%- include('components/menu', { title: "ZEBRA TATLISI" , price: "21" , description: "200 gr. Pudingli bitter tatlı", img: "/menu/img/Zebra-tatlisi.png", rating: 4 }) %>
            <%- include('components/menu', { title: "FIRIN SÜTLAÇ" , price: "15" , description: "1 Ad. Fırınlanmış Çevizli Ve Antep Fıstıklı Sütlaç" , img: "/menu/img/Bakedricepudding.jpg", rating: 3.5 }) %>
          </div>
          <div class="mt-5" style="text-align: center;"><button class="menubutton mb-5">Tümü</button></div>
        </div>
        <div id="Patato" class="tabcontent">
          <h2 class="text-heading text-dark pt-4 pb-3">Atıstırmalıklar</h2>
          <div class="row col-13 container" style="margin:auto;">
            <%- include('components/menu', { title: "SOĞAN HALKASI" , price: "12" , description: "16 Ad. Soğan Halkası Ketçap ile beraber", img: "/menu/img/Onionrings.jpg", rating: 4.5 }) %>
            <%- include('components/menu', { title: "PARMAK TAVUK" , price: "14" , description: "9 Ad. Parmak Tavuk" , img: "/menu/img/Chickentender.jpg", rating: 4.5 }) %>
          </div>
          <div class="row col-13 container" style="margin:auto;">
            <%- include('components/menu', { title: "MOZZARELLA STICK" , price: "15" , description: "10 Ad. Mozzarrella Sticks", img: "/menu/img/Mozzarrellasticks.jpeg", rating: 4 }) %>
            <%- include('components/menu', { title: "KURABİYE" , price: "8" , description: "3 Ad. Çikolatalı Kurabiye" , img: "/menu/img/Chocolatechipcookies.jpg", rating: 3.5 }) %>
          </div>
          <div class="row col-13 container" style="margin:auto;">
            <%- include('components/menu', { title: "PATATES PÜRESİ" , price: "12" , description: "Nane ile süslenmiş patates püresi", img: "/menu/img/MashPotatoSQ.jpg", rating: 3.5 }) %>
            <%- include('components/menu', { title: "DALGANO KAHVESİ" , price: "7" , description: "Dalgano Kahvesi" , img: "/menu/img/DalganoKahvesi.jpg", rating: 3.5 }) %>
          </div>
          <div class="row col-13 container" style="margin:auto;">
            <%- include('components/menu', { title: "TATLI PATATES" , price: "16" , description: "Kajun Baharatlı Tatlı Patates", img: "/menu/img/Sweetpotato.jpg", rating: 4 }) %>
            <%- include('components/menu', { title: "KAHVE PARTİSİ" , price: "30" , description: "Americano, Flat White, Cappuccino, Macchiato, Espresso, Latte, Mocha" , img: "/menu/img/CoffeMix.jpg", rating: 3.5 }) %>
          </div>
          <div class="mt-5" style="text-align: center;"><button class="menubutton mb-5">Tümü</button></div>
        </div>
      </div>
    </div>
  </main>

  <div class="datexx"></div>

  <div class="calories">
    <div class="col-13 container py-5 text-white" align="center" style="padding-right:7rem;">
      <h3><strong>Yemezler ™ </strong>sağlıklı mı?… kesinlikle <strong>evet!</strong></h3>
      <p>o yüzden onları her gün yiyoruz</p>
    </div>
    <div class="col-13 container row" align="center" style="margin:auto;">
      <div class="col-md-3">
        <div class="card caloriestext mt-4 pb-3">
          <img src="/pages/ico/calories1.png" class="w-25 my-3" alt="" style="margin: auto;">
          <h5><strong>Yemezler™ </strong>bun</h5>
          <div class="num">265</div>
          <div>kCals</div>
          <img src="/pages/ico/calories2.png" class="w-25 my-3" alt="" style="margin: auto;">
          <h5>bacon & egg</h5>
          <div class="num">142</div>
          <div>kCals</div>
        </div>
      </div>
      <div class="col-md-5">
        <img src="/pages/burger-healthy.png" class="w-100" alt="">
      </div>
      <div class="col-md-3">
        <div class="card caloriestext mt-4 pb-3">
          <img src="/pages/ico/calories3.png" class="w-25 my-3" alt="" style="margin: auto;">
          <h5>smoked <strong>Cheddar™</strong></h5>
          <div class="num">78</div>
          <div>kCals</div>
          <img src="/pages/ico/calories4.png" class="w-25 my-3" alt="" style="margin: auto;">
          <h5>beef patty</h5>
          <div class="num">118</div>
          <div>kCals</div>
        </div>
      </div>
    </div>
    <div class="col-13 py-5" align="center" style="padding-right:7rem;">
      <p>oh, oğlum… yumurta-tattional tadındalar!</p>
    </div>
  </div>
  
  <div class="vs">
    <div class="col-13 container py-5 text-white" align="center">
      <h3 class="vstexttt">Bir Taraf Seçmeniz <span class="text-danger">*</span>Gerekmiyor</h3>
    </div>
    <div class="col-13 container row" align="center" style="margin:auto;">
      <div class="col-md-5 mousePointer">
        <div class="card vss mt-4 pb-3 wrapper">
          <img src="/pages/cipsandchicken.png" class="w-75 my-3" alt="" style="margin: auto;">
          <h3 class="vstext">Cipsli Ve Ekmekli</h3>
          <h4 class="vsstext">Cipsli Tavuk Parmak</h4>
            <span class="counter">&ellip;</span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="vscenteredtext"><img src="/pages/vs.png" width="188px" height="188px" style="width: 11.75rem; height: 11.75rem;" alt="">
        <h4 class="vscenteredtext">Vs</h4></div>
      </div>
      <div class="col-md-5 mousePointer">
        <div class="card vss mt-4 pb-3 wrapperx">
          <img src="/pages/chicken.png" class="w-75 my-3" alt="" style="margin: auto;">
          <h3 class="vstext">Tatlı Ve Baharatlı</h3>
          <h4 class="vsstext">Cipsiz Tavuk Parmak</h4>
          <span class="counterx">&ellip;</span>
        </div>
      </div>
    </div>
    <div class="col-13 py-5" align="center">
      <p class="vstextt"><span class="text-danger">*</span>Amaçımız Eğlenmek. Hepsini Deneyin. Eşit derecede harikalar ve <br> Yanında Sarımsak ve Dereotlu Mayonez Sosu, Turşu ve Patates Kızartması <br> İle Birlikte Servis Edilecek.</p>
    </div>
  </div>

  <div class="datex mt-5">
    <div class="col-13 container row" style="margin: auto;">
      <div class="col-md-6 mt-5">
        <h4 class="text-heading text-warning mt-5">SANA ÖZEL KAMPANYA</h4>
        <h4 class="text-subtitle text-white" style="font-size: 1.5rem;">Cuma <span class="text-success"
            style="text-transform: lowercase;">5pm – 8pm</span></h4>
        <h4 class="text-subtitle text-white" style="font-size: 2rem;">70%'e Varan Sana Özel Indirimler</h4>
        <p class="text-primary" id="demo"></p>
        <div style="text-align: center;"><button id="buttontxt" class="menubutton mb-5"
            style="padding: 0.5rem 1rem;">
            <h4 class="text-light" style="font-size: 1.5rem;">Indirim Kuponu</h4>
          </button></div>
        <p id="demooo" align="center"></p>
      </div>
      <div class="col-md-5 mt-5" style="margin-left: 5rem;">
        <button class="btn-outline-primary mt-5 mb-4 mx-auto" id="generate-btn">Bugün Ne Yemek İstersin?</button>
        <h3><span class="mr-3"><i class="fas fa-quote-left fa-2x"></i></span><span id="quote">Tuşa Tıklayın Ve Modunuzu Görün
          </span></i></span></h3>
        <h5 class="text-right text-capitalize author">-<span class="quote-author ml-3 ">Tamer Şef</span></h5>
      </div>
    </div>
  </div>

  <!-- User Review -->

  <div class="date mt-5">
    <div class="middle">
      <div style="position: relative;">

        <div class="mySlides" style="padding: 6rem 2rem 1rem;">
          <q>I love you the more in that I believe you had liked me for my own sake and for nothing else</q><br>
          <hr style="margin-right: 26rem;margin-left: 26rem;margin-bottom: 8px;margin-top: 8px;">
          <img src="/pages/users/testimonial-3.1.jpg" class="rounded-circle mt-3" alt="" style="width:6rem; height:6rem">
          <p class="q">Fox Parker</p>
          <p class="qq">Customer</p>
        </div>


        <div class="mySlides" style="padding: 6rem 2rem 1rem;">
          <q>Lezzet, servis, personel ve isletme çok iyi. Tesekkür ederim. Özellikle mezeler muhtesem. Tavsiye
            ediyorum.</q><br>
          <hr style="margin-right: 26rem;margin-left: 26rem;margin-bottom: 8px;margin-top: 8px;">
          <img src="/pages/users/testimonial-3.2.jpg" class="rounded-circle mt-3" alt="" style="width:6rem; height:6rem">
          <p class="q">Burçin Aslan</p>
          <p class="qq">Designer</p>
        </div>

        <div class="mySlides" style="padding: 6rem 2rem 1rem;">
          <q>Vale la pena ver una gran vista del lugar que se puede pasar por un buen momento, y me gustaría la
            sinceridad del personal al servicio..</q><br>
          <hr style="margin-right: 26rem;margin-left: 26rem;margin-bottom: 8px;margin-top: 8px;">
          <img src="/pages/users/testimonial-3.3.jpg" class="rounded-circle mt-3" alt="" style="width:6rem; height:6rem">
          <p class="q">Sofia Edison</p>
          <p class="qq">Developer</p>
        </div>
      </div>

      <div style="text-align: center;">
        <span class="dott" onclick="currentSlide(1)"></span>
        <span class="dott" onclick="currentSlide(2)"></span>
        <span class="dott" onclick="currentSlide(3)"></span>
      </div>
    </div>
  </div>

  <!-- User Review End -->
  <div class="datexx">
    <div class="col-13 container row bbor" style="margin: auto;">
      <div class="col-md-3 dashed mousePointer mt-5" style="right: 1.5%;">
        <img class="mt-4 mb-4" src="/pages/ico/img_iconbox-2.1.png" alt="">
        <h4 class="dasheddtext">Ücretsiz Teslimat</h4><br>
        <p class="dashedtext">Hemen Ücretsiz Teslimat İçin Kayıt Olun Veya Hesabınıza Giriş Yapınız</p>
      </div>
      <div class="col-md-3 dashed mousePointer mt-5" style="right: 0.5%;">
        <img class="mt-4 mb-4" src="/pages/ico/img_iconbox-2.2.png" alt="">
        <h4 class="dasheddtext">Hizli Teslimat</h4><br>
        <p class="dashedtext">20-30 Dakika Arasında Her Yere Hızlı Teslimat</p>
      </div>
      <div class="col-md-3 dashed mousePointer mt-5" style="left: 0.5%;">
        <img class="mt-4 mb-4" src="/pages/ico/img_iconbox-2.3.png" alt="">
        <h4 class="dasheddtext">Lezzetli Ve Saglikli Yiyecekler</h4><br>
        <p class="dashedtext">Ürünlerimiz Son Derece Kalite Ürünlerden Yapılmaktadır</p>
      </div>
      <div class="col-md-3 dashed mousePointer mt-5" style="left: 1.5%;">
        <img class="mt-4 mb-4" src="/pages/ico/img_iconbox-2.4.png" alt="">
        <h4 class="dasheddtext">Her Çesit Yiyecekler</h4><br>
        <p class="dashedtext">Nasıl Hissediyorsanız O Tarz Bizde Vardır</p>
      </div>
    </div>
  </div>

  <!-- Galeri -->

  <div class="col-13 mt-5" style="margin:auto; background-color: black;">
    <div class="col-12 mb-5">
      <h1 class="text-heading text-light">Galeri</h1>
      <h1 class="text-subtitle text-light" style="font-size:1rem; text-align: center;">Bugüne kadar yediğiniz tüm burgerleri
        unutmanızı istiyoruz. Özel burger sosları ve hazırlama metodları ile sizlere özel home made burgerler sunuyoruz.
      </h1>
    </div>
    <div class="container row" style="margin:auto;">
      <div class="col-4"><a class="pop mousePointer"><img src="gallery/burgerr.jpg" class="rounded w-100 mb-5"></a></div>
      <div class="col-4"><a class="pop mousePointer"><img src="gallery/pizzza.jpg" class="rounded w-100 mb-5"></a></div>
      <div class="col-4"><a class="pop mousePointer"><img src="gallery/hotdoggggg.jpg" class="rounded w-100 mb-5"></a>
      </div>
      <div class="col-4"><a class="pop mousePointer"><img src="gallery/steak.png" class="rounded w-100 mb-5"></a></div>
      <div class="col-4"><a class="pop mousePointer"><img src="gallery/eclair.jpg" class="rounded w-100 mb-5"></a></div>
      <div class="col-4"><a class="pop mousePointer"><img src="gallery/onionrings.jpg" class="rounded w-100 mb-5"></a>
      </div>
    </div>
  </div>

  <div class="modal" id="imagemodal" style="top:15%">
    <div class="modal-dialog" data-dismiss="modal" style="max-width: 1000px;">
      <div class="modal-content">
        <div class="modal-body">
          <img src="" class="imagepreview" style="width: 100%;">
        </div>
      </div>
    </div>
  </div>

  <!-- Galeri End  -->

  <%- include('components/footer') %>

  <!-- about us -->
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-10 mx-auto col-md-6 align-self-center my-5">
          <div class="about-img__container">
            <img src="/pages/sweetslast.jpeg" class="img-fluid" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end of about us -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="Glass.js" type="text/Javascript"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"></script>
  <script type="text/javascript">
    // CountUp
    $(".num").counterUp({ delay: 10, time: 2000 });
  </script>

</body>

</html>